body {
    margin: 60px auto;
    width: 70%;
    color: #ffce00;
    background-color: #484d5c
}
nav ul, footer ul {
    font-family:'Oswald', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffce00;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Oswald', sans-serif;
    color: #ffce00;
    font-size: 3em;
}
p {
    font-family:'Cardo', serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #c0ccd4;
}
#content-wrap{
    padding-bottom: 3.0rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 3.0rem;
    border-top: 1px solid #ffce00;
    font-size: .8em;
}

 
 
