<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:brosnanch@outlook.com">email</a></li>
                <li><a href="https://github.com/broscew">github.com/broscew</a></li>
            </ul>
        </footer>
    </body>
</html>
